<!DOCTYPE html>
<head> 
  <title>404</title>
  <link rel="stylesheet" href="CSS/style.css"></head>
<script src="js/app.js"></script>
<body>
  <div class="main-content">
      {{>header}}
     <p>{{ErrorMessage}}</p>
    
  </div>
 {{>footer}} 
</body></html> 