<!DOCTYPE html>
<head>
    <title>About</title> 
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="CSS/style.css"></head>
<body>
    <div class="main-content">
   {{>header}}
   <P>This Site was created by Rahul Yadav. It uses data form Mapbox.com and darksky.net!</P>
    <img class="potrait" src="image/rahul.jpg">   
    </div>
<p>{{>footer}}</p>
</body></html>      

